table {
  margin-top: 4px;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
  margin-bottom: 20px;
  table-layout: auto;
}
th,
td {
  border: 1px solid black;
  padding: 2px 4px 2px 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
th {
  background-color: #d9dedf;
}
span {
  white-space: nowrap;
}
.st-column {
  width: 30px;
}
.auto-column {
  width: auto;
}
.st-success {
  background-color: #60a917;
}
.st-disabled {
  background-color: black;
  color: lightgray;
}
.st-alone {
  background-color: aqua;
  color: black;
}
@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: transparent;
  }
  100% {
    opacity: black;
  }
}
.st-failed {
  background-color: darkred;
  color: lightgray;
  animation: blink 2s infinite;
}
.st-running {
  background-color: #e3b448;
  color: black;
  animation: blink 2s infinite;
}
.td-left {
  text-align: left;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td-rtl {
  direction: rtl;
}
.node-info {
  background-color: #75b5fd;
}

.btn-success {
  display: inline-block;
  padding: 4px 8px;
  background-color: #60a917; /* 背景颜色 */
  color: #fff; /* 文字颜色 */
  text-decoration: none;
  border-radius: 4px; /* 圆角大小 */
  transition: background-color 0.3s ease; /* 过渡效果 */
  border: none; /* 去除边框 */
  cursor: pointer; /* 鼠标样式 */
}

/* 按钮悬停状态 */
.btn-success:hover {
  background-color: #609917; /* 悬停时的背景颜色 */
}

.btn-running {
  display: inline-block;
  padding: 4px 8px;
  background-color: #e3b448; /* 背景颜色 */
  color: #fff; /* 文字颜色 */
  text-decoration: none;
  border-radius: 4px; /* 圆角大小 */
  transition: background-color 0.3s ease; /* 过渡效果 */
  border: none; /* 去除边框 */
  cursor: pointer; /* 鼠标样式 */
}

/* 按钮悬停状态 */
.btn-running:hover {
  background-color: #e39448; /* 悬停时的背景颜色 */
}

.col-per-10 {
  width: 10%;
  min-width: 100px;
  max-width: 150px;
}

.col-per-15 {
  width: 15%;
  min-width: 150px;
  max-width: 200px;
}

.col-per-20 {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
}

.col-per-30 {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
}

.col-per-40 {
  width: 40%;
  min-width: 400px;
  max-width: 500px;
}
