<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SM-Status Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <div id="state-div">
      {{.StateContent}}
    </div>

    <script>
      var refreshTime = {{.RefreshTime}} * 1000;

      setTimeout(function(){
          location.reload();
      },refreshTime)
    </script>
  </body>
</html>
